<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
  <!-- CSS only -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/003c59ead5.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="form-routing" id="form-routing" draggable="true">
    <!-- <form action="/route" method="post" class="bg-white rounded-lg form-routing-2" id="form-routing-1" draggable="true">
      <div class="font-semibold capitalize bg-blue-600 py-3 px-2 rounded-t-md">
        <p class="text-center text-white">
          Tìm đường
        </p>
      </div>
  
      <div class="px-3 py-4 bg-pink-50">
        <div class="">
          <div class="flex justify-between">
            <span class="font-semibold my-1"> Điểm xuất phát: </span>
            <button type="button" class="" onclick="getCurrentLocation()">
              <img src="location-crosshairs-solid.svg" alt="" width="20px" height="20px">
            </button>
          </div>
          
          <div class="rounded-full bg-white px-3 py-3 flex justify-start items-center">
            <input type="text" class="border-none focus:outline-none bg-transparent" placeholder="Vị trí của bạn hoặc chọn trên bản đồ" aria-label="LongLat"
              aria-describedby="choose-button-1" id="departLocation" name="departLocation">
            <button class="px-2 hover:text-blue-500 hover:underlined-offset-auto font-semibold text-sm opacity-80" type="button" id="choose-button-1">
              Chọn
            </button>
          </div>
        </div>
        <div class="mt-2">
          <span class="font-semibold my-1">Điểm đến: </span>
          <div class="rounded-full bg-white px-3 py-3 flex justify-start items-center">
            <input type="text" class="border-none focus:outline-none bg-transparent w-full" placeholder="Chọn điểm đến trên bản đồ" aria-label="LongLat"
              aria-describedby="choose-button-2" id="destLocation" name="destLocation">
            <button class="px-2 hover:text-blue-500 hover:underlined font-semibold text-sm opacity-80" type="button" id="choose-button-2">
              Chọn
            </button>
          </div>
        </div>
        <p class="text-end mt-3">
          <input class="rounded-full bg-blue-500 hover:bg-blue-600 px-5 py-2 text-white text-sm font-semibold "
            type="submit" value="Submit">
        </p>
      </div>
    </form> -->
  
    <form action="/fuel/station" method="get" class="bg-white rounded-lg form-routing-2" id="form-routing-2" draggable="true">
      <div class="font-semibold capitalize bg-blue-600 py-3 px-2 rounded-t-md">
        <p class="text-center text-white">
          Tìm cây xăng
        </p>
      </div>
  
      <div class="px-3 py-4 bg-pink-50">
        <div class="">
          <div class="flex justify-between">
            <span class="font-semibold my-1"> Vị trí của tôi: </span>
            <button type="button" class="" onclick="getCurrentLocation()">
              <img src="location-crosshairs-solid.svg" alt="" width="20px" height="20px">
            </button>
          </div>
          
          <div class="rounded-full bg-white px-3 py-3 flex justify-start items-center">
            <input type="text" class="border-none focus:outline-none bg-transparent" placeholder="Vị trí của bạn hoặc chọn trên bản đồ" aria-label="LongLat"
              aria-describedby="choose-button-1" id="location" name="location">
            <button class="px-2 hover:text-blue-500 hover:underlined-offset-auto font-semibold text-sm opacity-80" type="button" id="choose-button-1">
              Chọn
            </button>
          </div>
        </div>
      
        <p class="text-end mt-3">
          <input class="rounded-full bg-blue-500 hover:bg-blue-600 px-5 py-2 text-white text-sm font-semibold "
            type="submit" value="Submit">
        </p>
      </div>
    </form>
  </div>
  

  <div id="map"></div>

</body>
<script>
  const fuel = <%- JSON.stringify(fuel) %> ;
</script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/index_js.js"></script>

</html>